<div class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>SUPPORT ME</h3>
        <P>Thank you for your support, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          t </P>
        <button class="btn btn-lg"><i>Donate via PayPal</i></button>
      </div>
      <div class="col-sm-3">
        <h3>CONTACT ME</h3>
        <P>Email: info@eWebDesigns.com.au </P>

        <p>Facebook: @eWebDesigns</p>
        <h3>SOCIAL MEDIA</h3>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-google"></i>
        <i class="fa fa-twitter"></i>
      </div>
      <div class="col-sm-3">
        <h3>TECHNOLOGIES</h3>
        <ul>
          <li>Angular</li>
          <li>Node js</li>
          <li>WordPress</li>
          <li>JavaScript</li>
          <li>Html 5</li>
          <li>CSS 3</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h3>PROJECTS</h3>
        <ul>
          <li>Project 1</li>
          <li>Project 2</li>
          <li>Project 3</li>
          <li>Project 4</li>
          <li>Project 5</li>
          <li>Project 6</li>
        </ul>
      </div>

    </div>
    <br>
    <p align="center"> © eWebDesigns.</p>
  </div>
</div>

<section align="center">
  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fewebdesigns%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId"
    width="450" height="80" style="border:none;overflow:hidden"></iframe>
</section>